[Desktop Entry]
Type=Application
Version=0.1
Name=Opportunity Installer
Comment=releax os Installer
Exec=opportunity
Icon=/usr/share/opportunity/logo.jpg
Terminal=false
Categories=System;
StartupNotify=true
GenericName=System Installer and Manager
Path=/
Name[en_IN.utf8]=Opportunity
