[Desktop Entry]
Name=opportunity
Icon=releax system installer
GenericName=System Installer
Exec=opportunity %f
Icon=/usr/share/opportunity/logo.png
Terminal=false
Categories=GTK;System
StartupNotify=true
Type=Application
